:root {
  --dropdown-item-hover: #f9f9f9;
}

.dropdownContainer {
  width: 100%;
  position: relative;
}

.dropdownHeader {
  width: 100%;
  background-color: var(--light);
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.dropdownList {
  list-style-type: none;
  margin: 1rem 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dropdownList.open {
  max-height: 25rem;
}

.dropdownItem {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
  background-color: var(--light);
  border-radius: 1rem;
  border: 1px solid var(--border);
  cursor: pointer;
}

.dropdownItem:hover {
  background: var(--dropdown-item-hover);
}

.arrow {
  color: var(--primary);
  svg {
    transition: transform 0.3s ease;
  }
}

.arrowUp {
  svg {
    transform: rotate(180deg);
  }
}
