* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat"),
    url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), local("Montserrat"),
    url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-display: swap;
}

:root {
  --primary: #005eff;
  --secondary: #f2f2f2;
  --light: #ffffff;
  --text: #000000;
  --border: #d9d9d9;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  height: 100dvh;
}

main {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--light);
  border: 1px solid var(--border);
}
